{% block carsMenu %}

<main region="main" class="main site-content">
 
      <section class="statement">
        <header>
          <h2>Renting Done Right. </br> Finally.</h2>
        </header>
     
      </section>
    <nav region="navigation">

              <tr><td colspan="3">
          <form action="/customersMenu" method="post">
            <input class="btn nav-btn" type="submit" value="Customers">
          </form> 
          </td>
            <td colspan="3">
          <form action="/carsMenu" method="post">
            <input class="btn nav-btn" type="submit" value="Cars">
          </form>  
          </td>
            <td colspan="3">
          <form action="/rentCar" method="post">
            <input class="btn nav-btn" type="submit" value="Rent Car">
          </form>  
          </td>
            <td colspan="3">
          <form action="/returnCar" method="post">
            <input class="btn nav-btn" type="submit" value="Return Car">
          </form>  
          </td>
           <td colspan="3">
          <form action="/history" method="post">
            <input class="btn nav-btn" type="submit" value="History">
          </form>  
          </td></tr>

    </nav>
        </main>
       <tr><td>
          <form action="/addCar" method="post">
            <input class="btn add-item-btn"  type="submit" value="Add car">
          </form>  
          </td>
          </tr>
    
  <table id="cars">
   <thead>
 <tr>
  <th><b>License Plate</b></td>
    <th><b>Brand</b></th>
    <th><b>Colour</b></th>
    <th><b>Year</b></th>
    <th><b>Price</b></th>
    <th><b>Rented by</b></th>
    <th><b>Rental Date</b></th>
    </tr>
 </thead>
  {% for car in cars %}

        <tr>
              <td><b>{{car.licensePlate}}</b></td>
              <td><b>{{car.brand}}</b></td>
              <td><b>{{car.colour}}</b></td>
              <td><b>{{car.year}}</b></td>
              <td><b>{{car.price}}</b></td>
              {% if car.customerNumber == "" %}
              <td><b>Available</b></td>
              {% else %}
              <td><b>{{car.customerNumber}}</b></td>

              {% endif %}
              {% if car.start %}
              <td><b>{{car.start}}</b></td>
              {% else %}
              <td><b>&nbsp;</b></td>
              {% endif %}

  
          
           {% if car.statusRented == 0 %}
          <td>
            <form method="post" action="/editCar/{{car.licensePlate}}/{{car.brand}}/{{car.colour}}/{{car.year}}/{{car.price}}">
              <input type="submit" style="width:100%" value="Edit">
            </form>
          </td>
  
          <td>
            <form method="post" action="/removeCar/{{car.licensePlate}}/{{car.brand}}"
                  onsubmit="return confirm('Are you sure you want to remove the car {{car.brand}} {{car.brand}} with the license plate number {{car.licensePlate}}?')">
              <input type="submit" style="width:100%" value="Remove">
            </form>
          </td>
          
          {% else %}
            <td>
            <form method="post" action="/editCar/{{car.licensePlate}}/{{car.brand}}/{{car.colour}}/{{car.year}}/{{car.price}}">
              <input disabled type="submit" style="width:100%" value="Edit">
            </form>
          </td>
  
          <td>
            <form method="post" action="/removeCar/{{car.licensePlate}}/{{car.brand}}"
                  onsubmit="return confirm('Are you sure you want to remove the car {{car.brand}} with the license plate number {{car.licensePlate}}?')">
              <input disabled type="submit" style="width:100%" value="Remove">
            </form>
          </td>
          
          {% endif %}
          </tr>
      {% endfor %}
    </table>
    



{% endblock %}
