{% block editCustomer %}
  <h1>Edit Customer</h1>

  <form method="post" action="/customerEdited/{{customerNumber}}/{{customerName}}/{{customerAddress}}/{{postalAddress}}/{{phoneNumber}}">
Social security number: <input disabled type="text" name="customerNumber"
           value="{{customerNumber}}" autofocus="autofocus">
    Name: <input type="text" name="customerName"
           value="{{customerName}}" autofocus="autofocus">

    Address: <input type="text" name="customerAddress"
           value="{{customerAddress}}" autofocus="autofocus">

    Postal Address: <input type="text" name="postalAddress"
           value="{{postalAddress}}" autofocus="autofocus">

    Phone Number: <input type="text" name="phoneNumber"
           value="{{phoneNumber}}" autofocus="autofocus">
    <input type="submit" value="Ok">
  </form>
    <form method="post" action="/customersMenu">
    <input type="submit" value="Cancel">
  </form>
{% endblock %}
