{% block history %}

		<header class="text-center m-5">
					<h2 class=" font-weight-bold">Renting Done Right.
					</br>
					Finally.</h2>
			</header>



<nav class="navbar navbar-expand-lg navbar-dark nav-bg " >
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <ul class="navbar-nav mx-auto font-weight-bold">
      <li class="nav-item ">
        <a class="nav-link" href="/customersMenu">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/carsMenu">Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rentCar">Rent Car</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/returnCar">Return Car</a>
      </li>
	  <li class="nav-item active">
        <a class="nav-link" href="/history">History</a>
      </li>
    </ul>
  </div>
</nav>

<main region="main" class="container">
     <table class=" table table-responsive-sm table-striped">
        <thead>

  <th><b>License Plate</b></td>
    <th><b>Social Security Number</b></th>
    <th><b>Rental date</b></th>
    <th><b>Return date</b></th>
    <th><b>Days</b></th>
    <th><b>Total cost</b></th>

 </thead>
  <tbody>
 
 {% set totalCost = 0 %}
 {% for booking in bookings %}

         <tr>
              <td><b>{{booking.licensePlate}}</b></td>
              <td><b>{{booking.customerNumber}}</b></td>
              <td><b>{{booking.start}}</b></td>
              <td><b>{{booking.end}}</b></td>
              <td><b>{{booking.days}}</b></td>
              <td><b>{{booking.cost}}</b></td>
          
        {% set totalCost = totalCost + booking.cost %}
      {% endfor %}
      <tr>
        
</tbody>
</table>
<table style="width: 100%;"><thead><th>Total cost</th></thead>
<tbody><tr><td><b>{{totalCost}}</b></td></tr></tbody>
</table></main>
        {% endblock %}
