{% block history %}


  <main region="main" class="main site-content">
<head>
<link rel='stylesheet' id='google-fonts-css'  href='https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&#038;subset=latin-ext' type='text/css' media='all' />
<link href="../css/main.css" type="text/css" rel="stylesheet" />
 <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
</head>



  <main region="main" class="main site-content">
 
      <section class="statement">
        <header>
          <h2>Renting Done Right. </br> Finally.</h2>
        </header>
     
      </section>
    <nav region="navigation">

              <tr><td colspan="3">
          <form action="/customersMenu" method="post">
            <input class="btn nav-btn" type="submit" value="Customers">
          </form> 
          </td>
            <td colspan="3">
          <form action="/carsMenu" method="post">
            <input class="btn nav-btn" type="submit" value="Cars">
          </form>  
          </td>
            <td colspan="3">
          <form action="/rentCar" method="post">
            <input class="btn nav-btn" type="submit" value="Rent Car">
          </form>  
          </td>
            <td colspan="3">
          <form action="/returnCar" method="post">
            <input class="btn nav-btn" type="submit" value="Return Car">
          </form>  
          </td>
           <td colspan="3">
          <form action="/history" method="post">
            <input class="btn nav-btn" type="submit" value="History">
          </form>  
          </td></tr>

    </nav>
            </main>
     <table style="width: 100%">
        <thead>
 <tr>
  <th><b>License Plate</b></td>
    <th><b>Social Security Number</b></th>
    <th><b>Rental date</b></th>
    <th><b>Return date</b></th>
    <th><b>Days</b></th>
    <th><b>Total cost</b></th>
    </tr>
 </thead>
 {% for booking in bookings %}
        <tr>
              <td><b>{{booking.licensePlate}}</b></td>
              <td><b>{{booking.customerNumber}}</b></td>
              <td><b>{{booking.start}}</b></td>
              <td><b>{{booking.end}}</b></td>
              <td><b>{{booking.days}}</b></td>
              <td><b>{{booking.cost}}</b></td>
          <tr>

      {% endfor %}

</table>

        {% endblock %}
