{% block rentCar %}

  <main region="main" class="main site-content">
        <section class="statement">
        <header>
          <h2>Renting Done Right. </br> Finally.</h2>
        </header>
     
      </section>
    <nav region="navigation">

              <tr><td colspan="3">
          <form action="/customersMenu" method="post">
            <input class="btn nav-btn" type="submit" value="Customers">
          </form> 
          </td>
            <td colspan="3">
          <form action="/carsMenu" method="post">
            <input class="btn nav-btn" type="submit" value="Cars">
          </form>  
          </td>
            <td colspan="3">
          <form action="/rentCar" method="post">
            <input class="btn nav-btn" type="submit" value="Rent Car">
          </form>  
          </td>
            <td colspan="3">
          <form action="/returnCar" method="post">
            <input class="btn nav-btn" type="submit" value="Return Car">
          </form>  
          </td>
           <td colspan="3">
          <form action="/history" method="post">
            <input class="btn nav-btn" type="submit" value="History">
          </form>  
          </td></tr>

    </nav>
  <div class="mainsection">
    <section class="form">
      <legend class="formHeader">
        <h2>Rent Car</h2>
      </legend>
    
      <form method="post" action="/carRented">
          <label>Customer: <select name="customerNumber" autofocus="autofocus"></label>
       {% for customer in customers %}
       
         <label for="">
           <option hidden disabled selected value>
           -- Select customer --</option>
            <option value={{customer.customerNumber}}>{{customer.customerNumber}} {{customer.customerName}}</option>
            {% endfor %}
            </select>
         </label>
          
          <label>
            Car: <select name="licensePlate" autofocus="autofocus">
            <option hidden disabled selected value>
           -- Select car --</option>
           
         {% for car in cars %}
         {# {% for rentedCar in rentedCars %} #}
         {# {% if rentedCar.start %} #}
           
            <option value={{car.licensePlate}}>{{car.licensePlate}}</option>
            
            {# {% endif %}
      {% endfor %} #}
          </label>
          {% endfor %}
          
          </select>
          <input class="btn add-btn" type="submit" value="Rent Car" style="width: 20%">
          <form method="post" action="/carsMenu">
        <input type="submit" class="btn add-btn" value="Cancel" style="width: 20%">
      </form>
        </form>
    </section>
  </div>
</main>
{% endblock %}
